@import url('https://fonts.googleapis.com/css?family=Arvo:400,700|Lato:400,700');
body{
	font-family:'Lato', sans-serif;
	text-align: center;
	margin:0;
	padding:0;
	background-image: url('foggy_birds.png');
	font-size:1.2em;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Arvo', serif;
	color:#2d2d2d;
}
header{
	background-image: url('birds.gif');
	background-repeat:no-repeat;

	background-position: center;
	padding:2rem 0;
}
main {
	
}
.intro p {
	width:60%;
	margin: 0 auto;
	padding:1rem 0;
	color:white;
	line-height:27px;
	
	}
.small{
	font-size:.9em;
	padding-left:.2rem;
}
.intro {
	background:#666;
	padding:1.5rem 0;
	
}


.test-area{
	width:60%;
	margin: 0 auto;
}
#origin-text{
	margin:1rem 0;
	padding:.5rem 1rem;
	background-color:#f5f5f5;
	border-radius:.25rem;
	color:#2d2d2d;
	text-align:left;
}
.test-wrapper {
    border: 8px solid #ddd;
    border-radius: 5px;
}
.test-wrapper {
    height: 200%;
    display: flex;
}

.test-wrapper textarea {
    flex: 1;
    border-color:transparent;
    padding:.3rem;
    	font-family: 'Arvo', serif;
    	outline:none;
    	font-size:1em;
    		color:#2d2d2d;
    		    background: rgba(255, 255, 255, 0.38);
}
.meta {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.timer {
    font-size: 2em;
    font-weight: bold;
    	color:#2d2d2d;
}
.result{
	display:flex;
	flex-direction:column;
	
}
.typing-speed{
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	color:#2d2d2d
}
.c-green{
color:#666fff;
}
.c-red{
color:#ff002f;
}
#reset {
    padding: .5em 1em;
    font-size: 1.2em;
    font-weight: bold;
    color: #666fff;
    background: white ;
    border: 5px solid #666fff;
    border-radius:.3rem;
    font-family: 'Arvo', serif;
    transition:all .2s ease-out;
      	outline:none;
}

#reset:hover {
    color: white;
    background-color: #666fff;
}

@media only screen and (max-width:991px){
	.test-area, .intro p{
	width:100%;
	}
	 .intro p{
	 	width:90%;
	 }
	 .meta {
   
    justify-content: space-between;
    margin-bottom:3rem;
    padding:0 10px;   
}
#clock{
	
}
.result{
	margin-bottom:1rem;
}
.typing-speed {
    display: flex;
    flex-direction: column;
     align-items: center;
     }
 }
 @media only screen and (max-width:340px){
	
	 .meta {
   
    justify-content: center;
    margin-bottom:3rem;
    padding:0 15px;   
}

 }